@import url("_variables.css");
@import url("_header.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
}

.page-wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.content-wrap{
    padding: 0 15px;
}

.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.uppercase{
    text-transform: uppercase;
}

.btn{
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.reach-section .title{
    position: absolute;
    z-index: 1;
    width: 656px;
    height: 80px;
    left: 240px;
    top: 200px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 80px;
    color: white;
}

.reach-section {
    position: relative;
    height: 744px;
    width: 1200px;
    top: 0px;
    background-color: #F7F7F7;
    background-image: url('../img/bg3.png'), url('../img/reach.png'), url('../img/green.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 0% 60%,  center, 0% -140%;  

    }
.btn__learn{
    left: -190px;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    width: 200px;
    height: 65px;
    left: calc(50% - 200px/2);
    top: 350px;
    background: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1.05px;
    color: #4BA87D;
}
.source-section{
    position: relative;
    height: 744px;
    width: 1200px;
    top: -5px;
    background-color: #F7F7F7;
    background-image: url('../img/girl.png'), url('../img/team.png'), url('../img/bg3.png'), url('../img/green.png');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 10% 0%, 50% 20%,200% 0%, 0% 90%; 
}
.source-section .title{
    position: absolute;
    z-index: 1;
    width: 365px;
    height: 144px;
    right: 50px;
    top: 187px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 48px;
    color: #000000;
}

.source-section .subtitle{
    position: absolute;
    z-index: 1;
    width: 322px;
    height: 156px;
    right: 90px;
    top: 356px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 26px;
    color: #000000;
}

.source{
    position: absolute;
    width: 320px;
    height: 196px;
    left: 88px;
    top: 280px;
    background: #FFFFFF;
}

.source .text{
    position: absolute;
    z-index: 1;
    width: 251px;
    height: 120px;
    left: 30px;
    top: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.btn__learnM{
    position: absolute;
    width: 251px;
    height: 28px;
    left: -50px;
    top: 130px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #4BA87D;
}
.team{
    position: absolute;
    width: 320px;
    height: 196px;
    left: 440px;
    top: 370px;
    background: #FFFFFF;
}
.team .text{
    position: absolute;
    z-index: 1;
    width: 259px;
    height: 111px;
    left: 31px;
    top: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.btn__learnM2{
    position: absolute;
    width: 251px;
    height: 28px;
    left: -50px;
    top: 135px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #4BA87D;
}

.all-section{
    position: relative;
    height: 744px;
    width: 1200px;
    top: -5px;
    background-color: #FFFFFF;
    background-image: url('../img/green.png');
    background-repeat: no-repeat;
    background-position: 175% 300%; 
}

.img_f{
    position: relative;
    left:30px;
}

.img_c{
    position: relative;
    top: -242px;
    left: 415px;
}
 .img_e{
    position: relative;
    top: -483px;
    left: 800px;
}

.img_f .txt{
    position: absolute;
    z-index: 1;
    width: 220px;
    height: 45px;
    left: 27px;
    top: 153px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    color: #FFFFFF;
}

.img_c .txt{
    position: absolute;
    z-index: 1;
    width: 220px;
    height: 45px;
    left: 27px;
    top: 153px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    color: #FFFFFF;
}

 .img_e .txt{
    position: absolute;
    z-index: 1;
    width: 220px;
    height: 45px;
    left: 25px;
    top: 153px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    color: #FFFFFF;
 }
.img_f .txt2{
    position: absolute;
    z-index: 1;
    width: 266px;
    height: 34px;
    left: 27px;
    top: 198px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
}

.img_c .txt2{
    position: absolute;
    z-index: 1;
    width: 266px;
    height: 34px;
    left: 27px;
    top: 198px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
}

 .img_e .txt2{
    position: absolute;
    z-index: 1;
    width: 266px;
    height: 34px;
    left: 25px;
    top: 198px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
 }

.all-section .title{
    position: absolute;
    width: 904px;
    height: 126px;
    left: calc(50% - 904px/2 + 1.5px);
    top: 279px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 48px;
    text-align: center;
    color: #000000;
} 

.all-section .title2{
    position: absolute;
    width: 500px;
    height: 124px;
    left: 400px;
    top: 679px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 48px;
    text-align: center;
    color: #000000;
}

@media (max-width: 768px) 
@media (min-width: 1200px)